* {
  margin: 0;
  padding: 0;
  box-sizing: border-box0;
}

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(177deg, rgba(2,0,36,1) 24%, rgba(19,33,110,1) 35%, rgba(19,110,68,1) 78%);
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  padding-top: 150px;
}

.wrapper {
  display: flex; 
  justify-content: center;
  margin-top: 90px;

}

.container {
  width: 140px;
  height: 140px;
  background: #ffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 30%;
}

.container div {
  font-weight: 900;
  font-size: 4rem;
  color:black ;
}

.container span {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  background: rgb(200, 186, 186);
}

.buttons {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 15px 25px;
}

button {
  font-size: 20px;
  border: none;
  margin-left: 30px;
  background-color: white;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
button:hover {
  opacity: 0.7;
}

#play {
  background-color:rgb(5, 19, 94);
}

#pause {
  background-color: rgb(28, 163, 139) ;
}

#stop {
  background-color:rgb(3, 5, 18);
  color: white;
}