* {
  margin: 0;
  padding: 0;
  box-sizing: border-box0;
}

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(177deg, rgba(2,0,36,1) 24%, rgba(19,33,110,1) 35%, rgba(19,110,68,1) 78%);
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  padding-top: 150px;
}

.wrapper {
  display: flex; 
  justify-content: center;
  margin-top: 60px;

}

.container {
  width: 140px;
  height: 140px;
  background: #ffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 30%;
}

.container div {
  font-weight: 900;
  font-size: 4rem;
  color:black ;
}

.container span {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  background: rgb(200, 186, 186);
}


/** rede-social **/

div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}

div ul li {
  transition: trasform .3s;
  list-style: none;
}


div ul li:hover {
  transform: scale(1.4);
}
.rede-social img {
  width: 70px;
}